@charset "ISO-8859-1";

@media screen {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
  }
  
  #loading {
    background: transparent url(images/loading.gif) no-repeat scroll top left;
    position: absolute;
    left: 16px;
    top: 16px;
    padding: 9px 0 9px 40px;
    color: #888;
    font-weight: bold;
    font-size: 14px;
  }

  #top, #center, #bottom {
    border: 0;
    padding: 0;
    margin: 0;
  }
  
  #left, #right {
    padding: 0;
    margin: 0;
  }
  
  #top {
    margin: 10px;
  }

  h1 {
    font-weight: bold;
  }
  
  #bottom {
    margin: 10px;
    color: #888;
  }
  
  #left {
    margin-right: 0;
    margin-left: 10px;
    background-color: #fff;
  }
  
  #right {
    margin-right: 10px;
  }
  
  #center {
    margin-left: 0;
    background-color: #fff;
  }
  
  #info-box {
    background-color: #f8f8f8;
    max-height: 200px;
    overflow-y: scroll;
    height: expression(this.scrollHeight > 200 ? '200px' : 'auto');
    border-bottom: 1px solid #ccc;
  }
  
  #useful-links {
    border-left: 1px solid #ccc;
    padding: 8px;
    
    float: right;
    width: 184px;
  }
  
  #useful-links h3 {
    padding: 0;
    margin: 0;
  }
  
  #useful-links ul {
    margin: 0;
    padding: 0;
  }
  
  #useful-links ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #sample-instructions {
    padding: 8px;
  }
  
  #sample-instructions * {
    padding: 0;
    margin: 0;
  }
  
  #sample-instructions h1 {
    margin-bottom: 8px;
  }
  
  #sample-instructions p,
  #sample-instructions ol,
  #sample-instructions ul {
    margin-bottom: 8px;
  }
  
  #sample-instructions ul,
  #sample-instructions ol {
    margin-left: 24px;
  }
  
  #edit-toolbar {
    position: relative;
    background-color: #eee;
    padding: 0;
    margin: 0;
    z-index: 100;
  }
  
  #info-box-toggle {
    position: absolute;
    right: 8px;
    bottom: 4px;
    width: 32px;
    height: 24px;
    background: transparent url(images/info-box-toggle.gif) no-repeat scroll 0 100%;
  }
  
  #info-box-toggle.off {
    background-position: 0 0;
  }
  
  #update-button {
    font-size: 150%;
    font-weight: bold;
  }

  #editor-loading {
    display: none;
    background: transparent url(images/editor-loading.gif) no-repeat scroll center center;
    background-color: #fff;
  }
  
  #tree {
    font-family: arial, helvetica, sans-serif;
    font-size: small;
  }
  
  #tree li {
    padding-top: 0;
    padding-bottom: 0;
  }

  #tree .dijitTreeIcon.dijitLeaf {
    background: transparent url(images/kml16.gif) no-repeat scroll top left;
  }

  #tree .dijitTreeLabel {
    font-weight: bold;
  }

  #tree .dijitTreeLabel.leaf-label {
    font-weight: normal !important;
    cursor: pointer;
    color: #0000aa;
    text-decoration: underline;
  }
  
  #container .dijitSplitterV {
    width: 10px;
    background: transparent none;
  }
  
  #container .dijitSplitterThumb {
    width: 10px;
    background-position: center center;
  }
  
  .dijitTreeIsRoot > .dijitTreeRow .dijitTreeExpando,
  .dijitTreeIsRoot > .dijitTreeRow .dijitTreeIcon {
    display: none;
  }
  
  .dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeNode {
    margin-left: 0;
  }
  
  .dijitTreeIsRoot > .dijitTreeRow {
    background-color: #eee;
    color: #888;
  }
  
  .dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeIsRoot > .dijitTreeRow {
    height: 24px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeIsRoot {  
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .dijitTreeIsRoot > .dijitTreeContainer > .dijitTreeIsRoot:last-child {  
    border-bottom: 0;
  }
  
  .CodeMirror-line-numbers {
    width: 200px;
    width:2.2em;
    color:#aaa;
    text-align:right;
    padding: 4px 0.3em 4px 0;
    font-size:10pt;
    font-family:monospace;
    background-color: #eee;
  }

  #editor-container {
    padding: 0;
  }

  #editor-container > div {
    height: 100%;
  }
}
